<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzm.medicineapp.mapper.CommentMapper">
    <resultMap type="comment" id="commentanduser">
        <id column="id" property="id"/>
        <result column="forum_id" property="forumId"/>
        <result column="edit_time" property="editTime"/>
        <result column="content" property="content"/>
        <association property="user" javaType="user">
            <id column="name" property="name"/>
            <result column="image" property="image"/>
        </association>
    </resultMap>
    <!--public List<Comment> getComments(PageModel pageModel);-->
    <select id="getComments" resultMap="commentanduser">
        select id, forum_id, edit_time,content,user_tb.name name,image from comment_tb,user_tb where
        comment_tb.name=user_tb.name order by edit_time desc
        <if test="firstLimitParam!=null and pageSize!=null">
            limit #{firstLimitParam} , #{pageSize}
        </if>
    </select>
    <!--public List<Comment> getCommentsByForumId(Integer forum_id);-->
    <select id="getCommentsByForumId" resultMap="commentanduser">
        select id, forum_id, edit_time,content,user_tb.name name,image from comment_tb,user_tb where
        comment_tb.name=user_tb.name and forum_id=#{forum_id} order by edit_time desc
    </select>
    <!--public Integer addComment(Comment comment);-->
    <insert id="addComment" parameterType="comment" useGeneratedKeys="true" keyProperty="id">
        insert into comment_tb(forum_id,name,edit_time,content) values (#{forumId},#{user.name},#{editTime},#{content})
    </insert>

    <!--public Integer getForumIdbyId(Integer id);-->
    <select id="getForumIdbyId" resultType="Integer">
        select forum_id from comment_tb where id=#{id}
    </select>

    <!--public Integer delCommentById(Integer id);-->
    <delete id="delCommentById">
        delete from comment_tb where id=#{id}
    </delete>
    <!--public Integer getCount();-->
    <select id="getCount" resultType="Integer">
        select count(*) from comment_tb
    </select>

    <!--List<Comment> getCommentsByUserName(String name);-->
    <select id="getCommentsByUserName" resultType="comment">
        select * from comment_tb where name = #{name}
    </select>

    <!--Integer delCommentsByUserName(String name);-->
    <delete id="delCommentsByUserName">
        delete from comment_tb where name=#{name}
    </delete>

    <!--Integer delCommentsByForumId(Integer id);-->
    <delete id="delCommentsByForumId">
        delete from comment_tb where forum_id=#{id}
    </delete>

</mapper>