<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzm.medicineapp.mapper.MedicineMapper">
        <!-- public Medicine getMedicineById(Integer id);-->
        <select id="getMedicineById" resultType="medicine">
                select * from medicine_tb where id=#{id}
        </select>
        <!--public List<Medicine> getMedicines(PageModel pageModel);-->
        <select id="getMedicines" resultType="medicine">
                select * from medicine_tb  order by name desc
                <if test="firstLimitParam!=null and pageSize!=null" >
                        limit #{firstLimitParam} , #{pageSize}
                </if>
        </select>
        <!--public Integer addMedicine(Medicine medicine);-->
        <insert id="addMedicine">
                insert into medicine_tb(name,nickname,image,funs,taboos) values
                (#{name},#{nickname},#{image},#{funs},#{taboos})
        </insert>
        <!--public Integer delMedicine(Integer id);-->
        <delete id="delMedicine">
                delete from medicine_tb where id=#{id}
        </delete>
        <!--public Integer updateMedicine(Medicine medicine);-->
        <update id="updateMedicine">
                update medicine_tb set name=#{name},nickname=#{nickname},image=#{image},funs=#{funs},taboos=#{taboos}
                where id=#{id}
        </update>
        <!--public Integer getCount(String name);-->
        <select id="getCount" resultType="Integer">
                select count(*) from  medicine_tb
                <if test="name!=null" >
                        where name like concat('%',#{name},'%')
                </if>
        </select>

        <!--List<Medicine> searchMedicines(PageModel pageModel)-->
        <select id="searchMedicines" resultType="medicine">
                select * from medicine_tb
                <if test="name!=null" >
                        where name like concat('%',#{name},'%')
                </if>
                order by name desc
                <if test="firstLimitParam!=null and pageSize!=null" >
                        limit #{firstLimitParam} , #{pageSize}
                </if>
        </select>
</mapper>