<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzm.medicineapp.mapper.TestPaperMapper">

    <!--List<TestPaper> selectPaperByUser(String name);-->
    <select id="selectPaperByUser" resultType="testPaper">
        select * from test_paper
        <if test="name!=null">
            where name = #{name}
        </if>
        order by create_time desc
        <if test="firstLimitParam!=null and pageSize!=null">
            limit #{firstLimitParam} , #{pageSize}
        </if>
    </select>

    <!--Integer addTestPaper(TestPaper testPaper);-->
    <insert id="addTestPaper">
        insert into test_paper(type,name,create_time) values
        (#{type},#{name},#{createTime})
    </insert>

    <!--Integer getCount(String name);-->
    <select id="getCount" resultType="Integer">
        select count(*) from test_paper
        <if test="name!=null">
            where name = #{name}
        </if>
    </select>

    <!--List<TestPaper> getTestPapers(PageModel pageModel);-->
    <select id="getTestPapers" resultType="testPaper">
        select * from test_paper order by create_time
        <if test="firstLimitParam!=null and pageSize!=null">
            limit #{firstLimitParam} , #{pageSize}
        </if>
    </select>

    <!--Integer delTestPaper(Integer id);-->
    <delete id="delTestPaper">
        delete from test_paper where id=#{id}
    </delete>

    <!--Integer delTestPaperByName(String name);-->
    <delete id="delTestPaperByName">
        delete from test_paper where name=#{name}
    </delete>

</mapper>