<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>本草善养-后台</title>
    <link rel="icon" type="image/x-icon" th:href="@{/asserts/img/spring.jpg}">
</head>
<body>
<!--topbar-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a class="navbar-brand col-sm-3 col-md-1 mr-0" href="#">[[${session.loginUser}]]</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/back/logout}">注销</a>
        </li>
    </ul>
</nav>
<!--sidebar-->
<nav class="col-md-1 d-none d-md-block bg-light sidebar" id="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" th:class="${activeuri=='index'?'nav-link active':'nav-link'}"
                   th:href="@{/back/index}">
                    系统主页<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='health'?'nav-link active':'nav-link'}"
                   th:href="@{/back/healths}">
                    养生知识
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='medicine'?'nav-link active':'nav-link'}"
                   th:href="@{/back/medicines}">
                    医药科普
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='prescr'?'nav-link active':'nav-link'}"
                   th:href="@{/back/prescrs}">
                    中医药方
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='rumor'?'nav-link active':'nav-link'}"
                   th:href="@{/back/rumors}">
                    辟谣模块
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='food'?'nav-link active':'nav-link'}"
                   th:href="@{/back/foods}">
                    食疗养生
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='constellation'?'nav-link active':'nav-link'}"
                   th:href="@{/back/constellations}">
                    星座缓存
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='testresult'?'nav-link active':'nav-link'}"
                   th:href="@{/back/testresults}">
                    测试建议
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='user'?'nav-link active':'nav-link'}"
                   th:href="@{/back/users}">
                    系统用户
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='forum'?'nav-link active':'nav-link'}"
                   th:href="@{/back/forums}">
                    养生论坛
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='comment'?'nav-link active':'nav-link'}"
                   th:href="@{/back/comments}">
                    论坛评论
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  th:class="${activeuri=='testpaper'?'nav-link active':'nav-link'}"
                   th:href="@{/back/testpapers}">
                    测试结果
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>