<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>本草善养-后台</title>
    <link rel="icon" type="image/x-icon" th:href="@{/asserts/img/spring.jpg}">
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<form class="form-signin" th:action="@{/back/login}" method="post" onsubmit="return loginBtn_click();">
    <img class="mb-4" src="asserts/img/bootstrap-solid.svg" th:src="@{/asserts/img/spring.jpg}" alt="" width="72"
         height="72">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label class="sr-only">用户名</label>
    <input type="text" class="form-control" name="username" id="username" th:placeholder="用户名" required>
    <label class="sr-only">密码</label>
    <input type="password" class="form-control" name="password" id="password" th:placeholder="密码" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" id="rememberme" checked> 记住密码
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>
</body>
</html>